/* Este será o círculo externo */
.cursor-follower-outer {
  width: 35px;
  height: 35px;
  border: 1px solid #e50914;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.3s;
  z-index: 999; /* Um nível abaixo do ponto interno para garantir que ele apareça por cima */
}

/* Este será o ponto central */
.cursor-follower-inner {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  background-color: #e50914;
  transform: translate(-50%, -50%);
  transition: transform 0.1s;
  z-index: 1000; /* Garanta que o ponto está acima do círculo externo */
}

/* Efeito ativo para o círculo externo */
.cursor-follower-outer.active {
  transform: translate(-50%, -50%) scale(1.5);
}